*{
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 30px;
  background-color:seagreen;
  color: white;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
}

.links>a{
  text-decoration: none;
  color: white;
  margin: 0px 50px;
  font-size: 25px;
}